// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.fa-angle-right:before {
  content: "\f105";
}
img {
  width: 100%;
  vertical-align: bottom;
}
// パンくず

.breadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
}
.breadCrumbs ul {
  padding: 17px 0 16px;
  width: 100%;
  max-width: 1040px;
  font-size: 14px;
  margin: 0 auto;
}
.breadCrumbs ul:after {
  display: block;
  content: "";
  clear: both;
}
.breadCrumbs ul li {
  padding: 0 10px 0 0;
  float: left;
}
.breadCrumbs ul li a {
  text-decoration: none;
  color: #333;
}

// メイン

.show__main {
  background-color: #f8f8f8;
}
.showMain {
  padding: 40px;
  margin: 0 auto;
  &__contentRight {
    width: 700px;
    margin: 0 auto;
  }
}
.showMain:after {
  display: block;
  content: "";
  clear: both;
}

// タイトルと写真と値段

.itemBox {
  background-color: #fff;
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  &__body {
    margin: 16px 0 0;
  }
  &__price {
    margin: 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    &-detail {
      font-size: 16px;
    } 
  }
  &__price>span {
    font-size: 46px;
    font-weight: bold;
    margin: 0 10 0 0;
  }
  &__body ul {
    display: flex;
    position: relative;
  }
  &__body ul>li {
    display: flex;
    flex-direction: column;
    width: 560px;
    align-items: center;
    margin: 0 auto;
  }
  &__body ul>li ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &__body ul>li ul li {
    width: 25%;
    margin: 0 10px 0 0;
  }
  &__body ul>li img {
    object-fit: cover;
    height: 346px;
  }
  &__body ul>li ul li img {
    object-fit: cover;
    height: 87px;
  }
}

// テーブル上のテキスト

.itemDetail {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}

// テーブル

.showTable {
  margin-bottom: 20px;
  &__table {
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
  }
  &__tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  &__th {
    width: 20%;
    background-color: #eee;
    font-weight: 400;
    padding: 8px;
    border: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
  }
  &__td {
    width: 61%;
    padding: 15px 15px;
    border: 1px solid #dedede;
    font-size: 14px;
  }
  &__td a {
    text-decoration: none;
    color: #3CCACE;
  }
}

// お気に入り 不適切な商品の通報

.optionalArea {
  display: flex;
  justify-content: space-between;
}
.optionalArea ul {
  margin: 10px 0 0;
  display: flex;
}
.likeBtn {
  margin-right: auto;
  padding: 6px 10px;
  border-radius: 40px;
  color: #3CCACE;
  border: 1px solid #ffb340;
}
.optional {
  margin: 10px 0 0;
  display: flex;
}
.optionalBtn {
  font-size: 14px;
}
.optionalBtn a {
  padding: 6px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  text-decoration: none;
}
.commentBox {
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
}

// フォーム コメントする

#comment_body {
  width: 100%;
  min-height: 104px;
  padding: 10px;
}
.noticeMsg {
  padding: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0;
  text-align: left;
}
.commentBtn {
  font-size: 18px;
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
}

// 前の商品 後ろの商品

.links li {
  float: left;
}
.links li a {
  text-decoration: none;
  color: #3CCACE;
}
.links li:last-child {
  float: right;
}
.links:after {
  display: block;
  content: "";
  clear: both;
}
.relatedItems:after {
  display: block;
  content: "";
  clear: both;
}
.relatedItems a {
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}
.productList {
  margin: 0 0 10px;
  float: left;
  width: calc(100%/ 3);
  &--img {
    background-color: #fff;
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
  }
  &--body {
    background-color: white;
    color: #333;
    padding: 16px;
    &__name {
      overflow: hidden;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
  }
}
.productList--img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover;
}
.details {
  font-size: 16px;
}
.details ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details p {
  font-size: 10px;
  text-align: left;
}